
.editor {
  display: flex;
  flex: row;
}
.personsList {
  flex-grow: 1;
  flex-basis: 0;
}
.plan {
  flex-grow: 3;
  flex-basis: 0;
}
.controlPanel {
  flex-grow: 1;
  flex-basis: 0;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
td {
  text-align: center;
}
.personInFocus {
  background-color: #faebd7;
}
.timeSlotInFocus {
  border: 1px solid black;
}
.doubleBooking {
  background-color: red;
}
