.TheName {
  color: red;
  font-weight: bold;
}
.editor {
  display: flex;
  flex: row;
  & > div {
    flex-grow: 1;
    flex-basis: 0;
  }
}
.personInFocus {
  background-color: #faebd7;
}
.timeSlotInFocus {
  border: 1px solid black;
}